/*! variables */

:root {
  --background-color: #ffffff;
  --background-btn: #219F95;
  --background-badge: #AFCEDD;
  --text-black: #1e1e1e;
  --text-gray: #696969;
  --text-blue: #234894;
}

/*! Fonts */

@font-face {
  font-family: vazir;
  src: url("/assetes/fonts/Vazirmatn-VariableFont_wght.ttf");
}

/*! Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "vazir";
  background-color: var(--background-color);
}

html {
  font-size: 62.5%;
}

/*! Request style */
.container {
  padding: 5% 5%;
}

.requestes {
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  justify-content: center;
}

.request {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  border-bottom: 1px solid #a7a7a7;
}

.request__apload {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}

.apload-container {
  display: flex;
  align-items: center;
}

.request-title {
  font-size: 2.2rem;
  margin-bottom: 3rem;
  font-weight: bolder;
  text-align: center;
}

.badge {
  background-color: var(--background-badge);
  width: 28px;
  height: 28px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge-number {
  color: #234894;
  font-size: 1.5rem;
  font-weight: bold;
}

.apload-text {
  margin-right: 0.9rem;
  color: #234894;
  font-weight: bold;
  font-size: 1.4rem;
}

.apload-date {
  color: var(--text-gray);
}

.request__detail {
  margin-bottom: 1.5rem;
}

.membership {
  font-size: 1.5rem;
  font-weight: 900;
}

.number {
  color: var(--text-gray);
}

.request__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-detail {
  display: flex;
  align-items: center;
}

.detail-img {
  width: 60px;
  border-radius: 8px;
}

.detail-name {
  margin-right: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.btn {
  background-color: var(--background-btn);
  color: var(--background-color);
  padding: 12px 8px;
  font-size: 0.9rem;
  border-radius: 8px;
}


@media screen and (min-width:640px) {
  .requestes {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .request-title {
    font-size: 2.8rem;
    grid-column: 1/3;
  }

  .btn {
    padding: 12px 10px;
    font-size: 1.2rem;
  }
}

@media screen and (min-width:1024px) {
  .requestes {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3rem;
  }

  .request-title {
    font-size: 3rem;
    text-align: start;
    grid-column: 1/4;
  }

}